
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    background-color: #f4f1f1;

}

.sombra{
    box-shadow: 5px 5px 5px grey;
}

.register-bg {
    background-image: url('imagen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: top center;
}

h1{
    font-weight: bold;
    text-align: center;

}
p{
    text-align: center;

}

figcaption {
    display:none; 
    transition: all .5s;
  }
  /* Visible texto */
  figure:hover > figcaption {
    display:block;
    transition: all .5s;
  }

button{
background-color: #4e4e4e;
color: white;
border-radius: 5px;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;

}

select{
    display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contenedor{

    margin: 50px 50px 50px 50px;
    background-color: white;
}

